.vscode/launch.json
src/classes/__pycache__/character.cpython-313.pyc
src/data/db.sqlite
tests/__pycache__/character_test.cpython-313.pyc
src/gui/__pycache__/character_list.cpython-313.pyc
src/gui/__pycache__/main.cpython-313.pyc
src/database/__pycache__/database.cpython-313.pyc
